body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    flex-direction: column;
}

.text-box {
    text-align: center;
    padding: 10px;
    border-radius: 2rem;
}


.hello {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

li input, li span, li button {
    flex-shrink: 1;
}

.todo-title {
    flex: 1;
    margin-right: 10px; 
    word-break: break-word; /* Allow long words to break and wrap */
}

.delete-button {
    margin-left: 10px;
    background-color: #ff6f61;
    color: #fff;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.delete-button:hover {
    background-color: #ff8873;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    transition: max-height 0.5s; 
    overflow: hidden; /* Hide overflow content */
    min-height: 100vh;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    padding-top: 20px;
}

i{
    font-size: 50px;
    color: #ff6f61;
    cursor: pointer;
    padding: 15px;
}

i:hover{
    background-color: #ff6f61;
    color: white;
    border-radius: 4rem;
    scale: 1;
}

p{
    font-size: 20px;
    font-weight: 700;
}

.todo-checkbox {
    width: 20px;
}

.todo-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    transition: background-color 0.3s; 
}


ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    width: 100vw;
    height: 40vh;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 1;
}



.todo-list li:hover .delete-button {
    opacity: 1;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}

.not-found{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 700;
}

ul {
    list-style-type: none;
    padding: 0;
}

li:last-child {
    border-bottom: none;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    padding: 5px 10px;
    margin-left: auto;
    background-color: #ff6f61;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff8873;
}

input[type="text"] {
    padding: 8px;
    margin-bottom: 10px;
    width: calc(100% - 16px);
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
}

.activated{
    background-color: #db2222;
}

.creator-tag {
    display: flex;
    color: #513434;
    font-size: 18px;
    font-weight: 700;
}
.under{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-top: 10px;

}



.filter-buttons button, .under button{
    padding: 10px 20px;
    border-radius: 2rem;
}

button.filter {
    margin-right: 5px;
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 4px 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.filter:hover {
    background-color: #ccc;
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
    
}